<form name="contact" netlify-honeypot="bot-field" netlify hidden>
  <FormItem class="content-wrap" label="Name" prop="name">
    <input
      v-model="formValidate.name"
      placeholder="Enter your name"
      name="name"
    />
  </FormItem>
  <FormItem class="content-wrap" label="E-mail" prop="email">
    <input
      v-model="formValidate.email"
      placeholder="Enter your e-mail"
      name="email"
    />
  </FormItem>
  <FormItem class="content-wrap" label="Message" prop="message">
    <input
      v-model="formValidate.message"
      type="textarea"
      :autosize="{minRows: 2,maxRows: 5}"
      placeholder="Enter your message"
      name="message"
    />
    <input type="hidden" name="form-name" value="contact" />
  </FormItem>
  <FormItem>
    <br />
    <button html-type="submit" @click="handleSubmit('formValidate')">
      Submit
    </button>
  </FormItem>
</form>
